<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<link rel="icon" href="/image/favicon.ico"/>
<!--  bootstrap  -->
<link href="https://blogjs.oss-cn-beijing.aliyuncs.com/bootstrap.css" rel="stylesheet"></link>
<link href="https://blogjs.oss-cn-beijing.aliyuncs.com/jquery-ui.css" rel="stylesheet"></link>
<link href="https://blogjs.oss-cn-beijing.aliyuncs.com/docs.css" rel="stylesheet"></link>



<link href="/css/flow.css" rel="stylesheet"></link>
<link href="/css/forms.less" rel="stylesheet"></link>
<link href="https://blogjs.oss-cn-beijing.aliyuncs.com/glyphicons.css" rel="stylesheet"></link>
<link href="https://blogjs.oss-cn-beijing.aliyuncs.com/jquery-ui.structure.css" rel="stylesheet"></link>
<link href="https://blogjs.oss-cn-beijing.aliyuncs.com/jquery-ui.theme.css" rel="stylesheet"></link>



<script type="text/javascript" src="https://blogjs.oss-cn-beijing.aliyuncs.com/jquery.js"></script>
<script type="text/javascript" src="/js/local.js"></script>
<script type="text/javascript" src="https://blogjs.oss-cn-beijing.aliyuncs.com/bootstrap.js"></script>
<script type="text/javascript" src="/js/optcookie.js"></script>
<script type="text/javascript" src="/js/selectcheckbox.js"></script>
<script type="text/javascript" src="/js/flow.js"></script>


<!-- ckeditor   -->
<!--<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>-->
<!--<script type="text/javascript" src="/ckeditor/samples/js/sample.js"></script>-->

<!--<link href="/ckeditor/samples/css/samples.css" rel="stylesheet"></link>-->
<!--<link href="/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css" rel="stylesheet"></link>-->

<link href="/css/style.css" rel="stylesheet"></link>

<!--   layui  -->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<link rel="stylesheet" href="/layui/css/layui.css"></link>
<script src="/layui/layui.js"></script>


<script type="text/javascript" src="js/base-loading.js"></script>
<!--  文章的编辑   -->
<script charset="utf-8" type="text/javascript" src="/js/editorTopic.js?a=new Date()"></script>

<!-- 编辑bbs  -->
<!--<script charset="utf-8" type="text/javascript" src="/js/editorBbs.js?a=new Date()"></script>-->


<title>我是赵先生</title>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>