<div style="position: fixed;width: 100%;text-align: center;z-index: 1;">

    <!--<div class="navbar-inner" style="background-color: black;">-->
        <!--<ul class="nav nav-tabs" style="line-height: inherit">-->
            <!--&lt;!&ndash;<li class="navbar-head active" id="myhome" url="/index"><a  href="#">主页</a></li>&ndash;&gt;-->
            <!--<li class="navbar-head22"><a>日常杂论</a></li>-->
            <!--<li class="navbar-head" id="myhome" url="/index"><a href="main">主页</a></li>-->
            <!--<li class="navbar-head" url="/index"><a href="index">博客笔记</a></li>-->
            <!--&lt;!&ndash;<li class="navbar-head" id="myhome2" url="/edittopic"><a href="edittopic">发表文章</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="navbar-head" id="myhome23" url="/1"><a href="#">主页</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="navbar-head" id=resume><a href="<%=request.getContextPath()%>/resume">简历</a></li>&ndash;&gt;-->
            <!--<li class="navbar-head" url="link"><a href="link">Touch Me</a></li>-->
            <!--<li>-->
                <!--<a href="http://blog.csdn.net/zhaoligang1234?viewmode=contents" target="_blank">CSDN</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="https://github.com/FREEZINGPOINT" target="_blank">GITHUB</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#" >...</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->


    <ul class="layui-nav" lay-filter="" style="font-size: 40px;">
        <li class="layui-nav-item"><a href="">日常杂论</a></li>
        <!--<li class="layui-nav-item layui-this"><a href="">产品</a></li>-->
        <li class="layui-nav-item"><a href="main">主页</a></li>
        <li class="layui-nav-item"><a href="index">博客笔记</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">外站</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="http://blog.csdn.net/zhaoligang1234?viewmode=contents" target="_blank">CSDN</a></dd>
                <dd><a href="https://github.com/FREEZINGPOINT" target="_blank">GITHUB</a></dd>
                <dd><a href="#" >...</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="link">Touch Me</a></li>
        <li class="layui-nav-item"><a href="myouhuijuan">淘宝优惠卷</a></li>
    </ul>

    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;

            //…
        });
    </script>






    <!--<div class="" style="float:right">-->
        <!--<button class="btn-link" name="link_header"-->
                <!--link="http://blog.csdn.net/zhaoligang1234?viewmode=contents">-->
            <!--<a href="http://blog.csdn.net/zhaoligang1234?viewmode=contents" target="_blank">CSDN</a>-->
        <!--</button>-->
        <!--<button class="btn-link" name="link_header" link="https://github.com/FREEZINGPOINT">-->
            <!--<a href="https://github.com/FREEZINGPOINT" target="_blank">GITHUB</a>-->
        <!--</button>-->
        <!--<button class="btn-link">...</button>-->
    <!--</div>-->
</div>
<div class="navbar" style="width: 100%;height: 180px;clear: both;background-color: #393D49;">
    <!--<img src="http://file.breakpoint.vip/picture/blog/back-001.png"></img>-->
    <div  style="width: 100%;height: 60px;clear: both;background-color: #393D49;">
        <div style="size: 60px;float: left;color: #FF5722;margin-left: 150px;">
            <h1>Daily Talk</h1>
        </div>
    </div>
    <div style="margin: 0px auto;width: 200px;height: 70px;">
        <img src="http://file.breakpoint.vip/picture/blog/Snip20190406_1.png"></img>
        <!--<div style="size: 30px;float: right;color: #FF5722;margin-right: 200px;">-->
            <!--<h3>Aspire To Inspire Until I Expire</h3>-->
        <!--</div>-->
        <img src="http://file.breakpoint.vip/picture/blog/Snip20190406_2.png"></img>
    </div>
</div>
<!--<div class="page-header" style="margin: 0px auto;padding: 0px 0px;">-->
    <!--<div class="navbar-inner" style="background-image: url('https://blogjs.oss-cn-beijing.aliyuncs.com/header.jpg');">-->
        <!--<h2><span>日常杂论</span>-->
            <!--<small style="color:black;float:right;font-family: '微软雅黑';">-->
                <!--<span>Aspire To Inspire Until I Expire</span>-->
            <!--</small>-->
            <!--<small style="color:black;float:right;font-family: '楷体';font-size: 18px;">生命不息，奋斗不止！</small>-->
            <!--<br/>-->
            <!--<small style="color:black;float:right;">Leo Zhao Blog</small>-->
        <!--</h2>-->
        <!---->
        <!---->
        <!---->
        <!---->
    <!--</div>-->
<!--</div>-->
<!--<div class="inner_zlg_container" style="width: 120px;height: 120px;position: fixed;right: 30px;top: 60px;box-shadow: darkgrey 10px 10px 30px 5px ;">-->
    <!--<img src="http://file.breakpoint.vip/picture/blog/41527417886_.pic.jpg"></img>-->
<!--</div>-->
